@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 
* {
    font-family: 'Roboto', sans-serif;
}
.emisor {
    font-variant: small-caps;
}

.mensaje {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(167, 203, 247);
    margin-top: 2px;
    margin-bottom: 2px;
    width: fit-content;
}
.derecha {
    float: right;
    clear: both;
}
.izquierda {
    float: left;
    clear: both;
} 